mat-form-field {
  width: 100%;
  direction: rtl; /* این باید باشه */
  text-align: right;
}

mat-label {
  font-size: 14px;
  direction: rtl;
  text-align: right;
  transform-origin: right !important; /* این باعث میشه label درست حرکت کنه */
}
