/* .mat-form-field {
  width: 100%;
  direction: rtl;
  text-align: right;
}

.mat-label {
  font-size: 14px;
  direction: rtl;
  text-align: right;
  transform-origin: right !important;
}


.mat-form-field {
  direction: rtl;
  text-align: right;
}

.mat-form-field-label {
  direction: rtl;
  text-align: right;
  transform-origin: right !important;
}

.mat-select-value {
  direction: rtl;
} */
